pipeline/NotifyTeamsChannelPipeline.json
{
	"name": "NotifyTeamsChannelPipeline",
	"properties": {
		"activities": [
			{
				"name": "Set JSON schema",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCard",
					"value": {
						"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline execution alert​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Subscription Id:\",\n                    \"value\": \"@{pipeline().parameters.subscription}\"\n                },\n                {\n                    \"name\": \"Resource Group:\",\n                    \"value\": \"@{pipeline().parameters.resourceGroup}\"\n                },\n                {\n                    \"name\": \"Data Factory Name:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                },\n                {\n                    \"name\": \"Pipeline RunId:\",\n                    \"value\": \"@{pipeline().parameters.runId}\"\n                },\n                {\n                    \"name\": \"Pipeline Name:\",\n                    \"value\": \"@{pipeline().Pipeline}\"\n                },\n                {\n                    \"name\": \"Pipeline Status:\",\n                    \"value\": \"@{pipeline().parameters.status}\"\n                },\n                {\n                    \"name\": \"Execution Start Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.triggerTime}\"\n                },\n                {\n                    \"name\": \"Execution Finish Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.executionEndTime}\"\n                },\n                {\n                    \"name\": \"Execution Duration (s):\",\n                    \"value\": \"@{pipeline().parameters.runDuration}\"\n                },\n                {\n                    \"name\": \"Message:\",\n                    \"value\": \"@{pipeline().parameters.message}\"\n                },\n                {\n                    \"name\": \"Notification Time (UTC):\",\n                    \"value\": \"@{utcnow()}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"View pipeline run\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"@{concat('https://synapse.azure.com/monitoring/pipelineruns/',pipeline().parameters.runId,'?factory=/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n                }\n            ]\n        }\n    ]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Invoke Teams Webhook Url",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set JSON schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@pipeline().parameters.teamWebhookUrl",
						"type": "Expression"
					},
					"body": {
						"value": "@json(variables('messageCard'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"subscription": {
				"type": "string",
				"defaultValue": "e1d7be19-0f65-47ed-bd49-24429c80762f"
			},
			"resourceGroup": {
				"type": "string",
				"defaultValue": "azure-mentoring-rk"
			},
			"runId": {
				"type": "string",
				"defaultValue": "@activity('NotifyTeamsChannelPipeline').output['pipelineRunId']"
			},
			"name": {
				"type": "string",
				"defaultValue": "@activity('NotifyTeamsChannelPipeline').output['pipelineName']"
			},
			"triggerTime": {
				"type": "string",
				"defaultValue": "@activity('NotifyTeamsChannelPipeline').ExecutionStartTime"
			},
			"status": {
				"type": "string",
				"defaultValue": "@activity('NotifyTeamsChannelPipeline').Status"
			},
			"message": {
				"type": "string",
				"defaultValue": "@activity('NotifyTeamsChannelPipeline').Error['message']"
			},
			"executionEndTime": {
				"type": "string",
				"defaultValue": "@activity('NotifyTeamsChannelPipeline').ExecutionEndTime"
			},
			"runDuration": {
				"type": "string",
				"defaultValue": "@activity('NotifyTeamsChannelPipeline').Duration"
			},
			"teamWebhookUrl": {
				"type": "string",
				"defaultValue": "https://epam.webhook.office.com/webhookb2/11fab616-4b75-4c72-a2b2-80063d1f23bc@b41b72d0-4e9f-4c26-8a69-f949f367c91d/IncomingWebhook/c69af7c9fd7d41afb295c921c98bf5ac/fb34f8c6-7cd8-45dd-bce6-1771cb3d39af/V2gFVOO7yGV5LrX2IhGseoC90UwfWiKiHPWF6fx0MHUhQ1"
			}
		},
		"variables": {
			"messageCard": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-05-26T15:41:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}