pipeline/PL_Parametrization_Metadata.json
{
	"name": "PL_Parametrization_Metadata",
	"properties": {
		"activities": [
			{
				"name": "LookupMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Azure_SQL",
						"type": "DatasetReference",
						"parameters": {
							"TableNameDS": "tControlMetadata",
							"SchemaNameDS": "etl"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachMetadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ParametrizationCopy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "source_filename",
											"value": "$$FILENAME"
										},
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "@item().SourceFolder",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@concat('truncate table ',item().DestinationSchema,'.',item().DestinationTable)",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "AzureDataLakeStorage",
											"type": "LinkedServiceReference"
										},
										"path": "log"
									}
								},
								"dataIntegrationUnits": {
									"value": "@item().DIUValue",
									"type": "Expression"
								},
								"translator": {
									"value": "@json(item().ColumnMapping)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "DS_metadata_driven",
									"type": "DatasetReference",
									"parameters": {
										"Source_container": {
											"value": "@item().SourceContainer",
											"type": "Expression"
										},
										"Source_folder": {
											"value": "@item().SourceFolder",
											"type": "Expression"
										},
										"Source_filename": {
											"value": "@item().SourceFileName",
											"type": "Expression"
										},
										"Source_fileDelimiter": {
											"value": "@item().ColumnDelimiter",
											"type": "Expression"
										},
										"Source_encoding": {
											"value": "@item().Encoding",
											"type": "Expression"
										},
										"Source_escapecharacter": {
											"value": "@item().EscapeCharacter",
											"type": "Expression"
										},
										"Source_QuoteCharacter": {
											"value": "@item().QuoteCharacter",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Azure_SQL",
									"type": "DatasetReference",
									"parameters": {
										"TableNameDS": {
											"value": "@item().DestinationTable",
											"type": "Expression"
										},
										"SchemaNameDS": {
											"value": "@item().DestinationSchema",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LoggingDetails",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ParametrizationCopy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[spPopulatePipelineLogging]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": {
											"value": "@variables('ActivityName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"BillingDuration": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.billingReference.totalBillableDuration[0].duration",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"CopyDuration": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.copyDuration",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"EndTime": {
										"value": {
											"value": "@addSeconds(activity('ParametrizationCopy').output.executionDetails[0].start,activity('ParametrizationCopy').output.executionDetails[0].duration)",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"MeterType": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.billingReference.totalBillableDuration[0].meterType",
											"type": "Expression"
										},
										"type": "String"
									},
									"ParallelCopies": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.usedParallelCopies",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"ProcessedFiles": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"QueueDuration": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.executionDetails[0].detailedDurations.queuingDuration",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"RowsRead": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.dataRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsWritten": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.dataWritten",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StartTime": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"Status": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"TransferDuration": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.executionDetails[0].detailedDurations.transferDuration",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"UsedDIU": {
										"value": {
											"value": "@activity('ParametrizationCopy').output.usedDataIntegrationUnits",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Azure_SQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ErrorTableLog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ParametrizationCopy",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[spPopulateErrorTable]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": {
											"value": "@variables('ActivityName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorCode": {
										"value": {
											"value": "@activity('ParametrizationCopy').error.errorCode",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('ParametrizationCopy').error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorType": {
										"value": {
											"value": "@activity('ParametrizationCopy').error.failureType",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Azure_SQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"ActivityName": {
				"type": "String",
				"defaultValue": "ParametrizationCopy"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-05-22T08:45:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}